<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/common-head :: common-head}">
</head>

<body>
<div>
    <div th:insert="~{fragments/top-menu :: top-menu}"></div>

    <div class="se-pre-con"></div>

    <div layout:fragment="contentBody" >
<!--    common layout content body  -->
    </div>
</div>

<span th:fragment="baseJsHead" th:remove="tag">
    <script type="text/javascript">
        $(document).ready(function () {
            Ros.APP.markPageReady();
        });
</script>

<!-- Custom js block -->
<span layout:fragment="customJsImportBlock" th:remove="tag"></span>

<script layout:fragment="localJsCodeBlock" type="text/javascript">
</script>

</body>
</html>
