<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">BidCraft</title>
    <th:block th:replace="~{fragments/common-head :: common-head}"></th:block>

    <!-- Custom CSS files -->
    <th:block layout:fragment="custom-css"></th:block>
</head>

<body>
<div class="page-container">
    <header th:insert="~{fragments/top-menu :: top-menu}"></header>

    <div class="se-pre-con"></div>

    <main>
        <div class="container py-4 my-3">
            <!-- Project Info -->
            <div class="d-flex align-items-center py-2">
                <i class="fas fa-briefcase fs-1 text-success me-3"></i>
                <div>
                    <h2 class="mb-0 fw-bold" th:text="${project?.name ?: 'Project'}"></h2>
                </div>
            </div>

            <!-- Project Tabs -->
            <div class="my-4">
                <th:block th:insert="~{fragments/project-tab-view :: project-tabs}"></th:block>
            </div>

            <section layout:fragment="contentBody">
                <!-- page content here -->
            </section>
        </div>
    </main>

    <!-- Modals start here -->
    <div class="modal-block" >
        <th:block layout:fragment="modalBlock"></th:block>
    </div>
    <!-- Modals end here -->
</div>

<span th:fragment="baseJsHead" th:remove="tag">
    <script type="text/javascript">
        $(document).ready(function () {
            Ros.APP.markPageReady();
        });
</script>

<!-- Custom js block -->
<th:block layout:fragment="customJsImportBlock"></th:block>

<script layout:fragment="localJsCodeBlock" type="text/javascript">
</script>

</body>
</html>
