<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/project-layout}" lang="en">

<title layout:fragment="title">Document List</title>


<section layout:fragment="contentBody" layout:with="activeTab = ${T(com.dsi.hackathon.enums.ProjectTab).DOCUMENT_LIST}">
    <div class="d-flex flex-wrap">
        <h5 class="font-size-16 me-3">Uploaded Files</h5>
        <div class="ms-auto">
            <!-- Trigger button -->
            <button type="button" class="btn mx-xl-5 btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="fas fa-file-upload me-2"></i>Upload new file
            </button>
        </div>
    </div>
    <hr class="mt-2">
    <table class="table table-striped table-light">
        <thead class="table-success">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Uploaded date</th>
            <th scope="col">Document type</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td>
                <a th:href="@{/api/document-viewer/{id}(id=${file?.id})}" class="text-dark fw-medium" target="_blank">
                    <i class="mdi mdi-file-document font-size-16 align-middle text-primary me-2"></i> [[${file.name}]]
                </a>
            </td>
            <td th:text="${#temporals.format(file.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>[[${file?.type?.displayName}]]</td>
            <td class="text-center">
                <a th:href="@{/project/{projectId}/analysis(documentId=${file.id},projectId=${file.projectId})}"
                   class="btn btn-outline-success">
                    <i class="fas fa-brain me-2"></i>
                    Analyze
                </a>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt me-2"></i>
                    Delete
                </button>
            </td>
        </tr>
        <tr class="text-center" th:if="${files.isEmpty()}">
            <td colspan="4" class="fw-bold text-danger">No Data Found!</td>
        </tr>
        </tbody>
    </table>
</section>

<th:block layout:fragment="modalBlock">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light-green text-white">
                    <h5 class="modal-title" id="myModalLabel">Upload Document</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="uploadForm" th:action="${'/upload/' + projectId}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="projectId" value="${projectId}">
                    <div class="modal-body p-4 bg-light">

                        <!-- Select dropdown -->
                        <div class="mb-3">
                            <label for="type" class="form-label">Document Type</label>
                            <select class="form-select" id="type" name="type" required>
                                <option th:each="documentType : ${documentTypes}"
                                        th:value="${documentType.name()}"
                                        th:text="${documentType.displayName}">
                                </option>
                            </select>
                        </div>

                        <!-- File input -->
                        <div class="mb-3">
                            <label for="file" class="form-label">Select File</label>
                            <input class="form-control" type="file" id="file" name="file" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<span layout:fragment="customJsImportBlock">
    <script type="text/javascript" th:src="@{/js/enum/uploaded-document-type.js}"></script>
</span>

<script layout:fragment="localJsCodeBlock" type="text/javascript" th:inline="javascript">
    function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleString();
    }

    function refreshFileTable(projectId) {
        $.ajax({
            url: '/get-files/' + projectId,
            type: 'GET',
            success: function (files) {
                console.log(files);
                const $tbody = $('tbody');
                $tbody.empty(); // Clear the table

                files.forEach(function (file) {
                    $tbody.append(`
                    <tr>
                        <td><a href="/api/document-viewer/${file.id}" class="text-dark fw-medium" target="_blank">
                            <i class="mdi mdi-file-document font-size-16 align-middle text-primary me-2"></i>
                            ${file.name}</a>
                        </td>
                        <td>${formatDate(file.updatedAt)}</td>
                        <td>${Ros.ENUM.UploadedDocumentType[file?.type] || ''}</td>
                        <td class="text-center">
                            <a href="/project/${file.projectId}/analysis?documentId=${file.id}"
                               class="btn btn-outline-success">
                                <i class="fas fa-brain me-2"></i> Analyze
                            </a>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt me-2"></i> Delete
                            </button>
                        </td>
                    </tr>
                `);
                    if(files.length === 0)
                        $tbody.append(`
                        <tr class="text-center">
                            <td colspan="3" class="fw-bold text-danger">No Data Found!</td>
                        `)
                });
            },
            error: function (xhr, status, error) {
                alert('Error refreshing table: ' + error);
            }
        });
    }

    $(document).ready(function () {
        $('#uploadForm').submit(function (e) {
            console.log("entered here")
            e.preventDefault(); // Prevent normal form submission

            const formData = new FormData(this);
            const projectId = [[${projectId}]]; // Read projectId before the AJAX call

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'), // Should match a @PostMapping on the server
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    // reset form data
                    $('#uploadForm')[0].reset();
                    // Hide the modal after successful upload
                    $('#myModal').modal('hide');

                    // Refresh the table
                    refreshFileTable(projectId);
                },
                error: function (xhr, status, error) {
                    alert('Error uploading file: ' + error);
                    // reset form data
                    $('#uploadForm')[0].reset();
                    // Hide the modal after error
                    $('#myModal').modal('hide');
                }
            });
        });
    });

</script>
</html>
