<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/project-layout}" lang="en">

<title layout:fragment="title">Analysis</title>

<section layout:fragment="contentBody" layout:with="activeTab = ${T(com.dsi.hackathon.enums.ProjectTab).ANALYSIS}">
    <div class="d-flex flex-wrap">
        <!--                <h5 class="font-size-16 me-3">Summary</h5>-->
        <div class="dropdown w-100">
            <h5>Analysis For:</h5>
            <button class="btn btn-outline-success font-size-16 fw-bold d-flex flex-row flex-nowrap justify-content-between align-items-center dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="mx-2" th:text="${summaryFor}"></span>
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                <li class="mx-2"><a class="dropdown-item" th:classappend="${documentId == null ? 'btn-light-green':''}" th:href="@{/project/{projectId}/analysis(projectId=${projectId})}">Project: <th:block th:text="${project?.name}"></th:block></a></li>
                <li class="mx-2" th:each="uploadedDocument : ${uploadedDocuments}"><a class="dropdown-item" th:classappend="${documentId == uploadedDocument?.id ? 'btn-light-green':''}" th:href="@{/project/{projectId}/analysis(projectId=${projectId}, documentId=${uploadedDocument?.id})}" th:text="${uploadedDocument?.attachmentName}"></a></li>
            </ul>
        </div>
    </div>
    <hr class="my-3">
    <div class="card">
        <div class="card-header fw-bold">
            Summary
        </div>
        <div id="summaryDiv" class="card-body" th:text="${analysis?.isAnalyzed == true ? analysis?.summary : 'Summary not available.'}">
        </div>
        <div th:if="${analysis?.isAnalyzed != true && (analysis?.uploadedDocument != null || not #arrays.isEmpty(analysis?.project?.uploadedDocuments))}">
            Generating Summary....
        </div>
        <div th:if="${analysis?.isAnalyzed != true && #arrays.isEmpty(analysis?.project?.uploadedDocuments)}">
            Please upload project related documents for analysis from
            <a th:href="@{/project/{projectId}/document-list(projectId=${project?.id})}">Document list</a>
        </div>
    </div>
</section>

<span layout:fragment="customJsImportBlock">
    <script type="text/javascript" th:src="@{/webjars/bootbox/5.5.2/bootbox.all.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/marked/15.0.12/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/dompurify/3.2.6/dist/purify.js}"></script>
    <script type="text/javascript" th:src="@{/js/widget/document-analysis-widget.js}"></script>
</span>

<script layout:fragment="localJsCodeBlock" type="text/javascript">
    $("body").documentAnalysisWidget({
        analysisId: [[${analysis?.id ?: null}]],
        isAnalyzed: [[${analysis?.isAnalyzed ?: false}]]
    });
</script>

</html>
