<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/project-layout}" lang="en">

<title layout:fragment="title">Analysis</title>

<section layout:fragment="contentBody">
    <h5 class="mb-3">Analyzed Document</h5>
    <div class="d-flex flex-wrap">
        <div class="dropdown w-100">
            <button class="btn btn-outline-success font-size-16 fw-bold d-flex flex-row flex-nowrap justify-content-between align-items-center dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="mx-2" th:text="${selectedDocument?.getDisplayName() ?: 'Please select document.'}"></span>
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                <li class="mx-2" th:each="uploadedDocument : ${project?.uploadedDocuments}"><a class="dropdown-item" th:classappend="${selectedDocument?.id == uploadedDocument?.id ? 'btn-light-green':''}" th:href="@{/project/{projectId}/analysis/document(projectId=${project?.id}, documentId=${uploadedDocument?.id})}" th:text="${uploadedDocument?.getDisplayName()}"></a></li>
                <li class="mx-2" th:if="${#arrays.isEmpty(project?.uploadedDocuments)}">No documents uploaded</li>
            </ul>
        </div>
    </div>
    <hr class="my-3">
    <div class="card">
        <div class="card-header fw-bold">
            <th:block th:text="${analysis?.uploadedDocument?.uploadedDocumentType?.displayName}"></th:block> Analysis
        </div>

        <div class="card-body">
            <div class="summaryDiv" th:if="${analysis?.isAnalyzed == true}" th:text="${analysis?.summary}"></div>

            <div class="summaryDiv" th:unless="${analysis?.isAnalyzed == true}">
                Analysis not available.

                <th:block th:if="${analysis?.uploadedDocument != null}">
                    Generating Analysis....
                    <div class="se-pre-con"></div>
                </th:block>

                <th:block th:if="${#arrays.isEmpty(project?.uploadedDocuments)}">
                    Please upload project related documents for analysis from
                    <a th:href="@{/project/{projectId}/document-list(projectId=${project?.id})}">Document list</a>
                </th:block>
            </div>
        </div>
    </div>
</section>

<span layout:fragment="customJsImportBlock">
    <script type="text/javascript" th:src="@{/webjars/bootbox/5.5.2/bootbox.all.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/marked/15.0.12/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/dompurify/3.2.6/dist/purify.js}"></script>
    <script type="text/javascript" th:src="@{/js/widget/document-analysis-widget.js}"></script>
</span>

<script layout:fragment="localJsCodeBlock" type="text/javascript">
    [[${#arrays.isEmpty(analysis?.uploadedDocument)}]] || $("body").documentAnalysisWidget({
        analysisId: [[${analysis?.id ?: 'null'}]],
        isAnalyzed: [[${analysis?.isAnalyzed ?: false}]]
    });
</script>

</html>
