<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="top-menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light-green">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" href="/projects" style="font-size: 1.5rem;">
                <i class="fas fa-leaf" style="font-size: 1.5rem;"></i> BidCraft
            </a>

            <th:block sec:authorize="isAuthenticated()">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="me-5 collapse navbar-collapse" id="navbarNav">
                    <ul class="me-5 navbar-nav ms-auto">
                        <li class="me-5 nav-item">
                            <form class="me-5 d-flex" action="/logout" method="post">
                                <button class="btn btn-outline-light-green text-white" type="submit">
                                    <i class="fas fa-sign-out-alt me-2 text-white"></i>Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </nav>
</div>

</html>
